@font-face {
  font-family: 'icon';
  src: url("../fonts/icon/icon.eot");
  src: url("../fonts/icon/icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon/icon.ttf") format("truetype"), url("../fonts/icon/icon.woff") format("woff"), url("../fonts/icon/icon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 1, ../sass/partials/_extendables.scss */
h4, h5, h6, p {
  font-family: "Helvetica" "Arial" sans-serif;
}

/* line 5, ../sass/partials/_extendables.scss */
h1, h2, h3 {
  font-family: "Garamond" "Times New Roman" serif;
}

/* line 13, ../sass/partials/_extendables.scss */
h2, h3, h4 {
  color: #275d4e;
}

/* line 17, ../sass/partials/_extendables.scss */
a {
  color: #534e26;
}

/* line 21, ../sass/partials/_extendables.scss */
.button--primary, .button--secondary {
  border-radius: 3px;
  border: 2px outset;
}
/* line 25, ../sass/partials/_extendables.scss */
.button--primary:hover, .button--secondary:hover {
  cursor: pointer;
}
/* line 29, ../sass/partials/_extendables.scss */
.button--primary:active, .button--secondary:active {
  border-style: inset;
}

/* line 34, ../sass/partials/_extendables.scss */
a[href*="github"]:before, a[href*="reddit"]:before, a[href*="apple"]:before, a[href*="android"]:before, a[href*="windows"]:before {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 56, ../sass/partials/_extendables.scss */
a[href*="github"], a[href*="reddit"], a[href*="apple"], a[href*="android"], a[href*="windows"] {
  text-decoration: none;
}
/* line 59, ../sass/partials/_extendables.scss */
a[href*="github"]:before, a[href*="reddit"]:before, a[href*="apple"]:before, a[href*="android"]:before, a[href*="windows"]:before {
  padding-right: .5em;
}

/* line 1, ../sass/partials/_shared-styling.scss */
h1 {
  color: #552fea;
}
@media (min-width: 500px) {
  /* line 1, ../sass/partials/_shared-styling.scss */
  h1 {
    color: #275d4e;
  }
}
@media (min-width: 800px) {
  /* line 1, ../sass/partials/_shared-styling.scss */
  h1 {
    color: #534e26;
  }
}

/* line 46, ../sass/partials/_shared-styling.scss */
.button--primary {
  background-color: #552fea;
  color: #eeeeee;
  border-color: #3f23af;
}

/* line 50, ../sass/partials/_shared-styling.scss */
.button--secondary {
  background-color: #275d4e;
  color: #eeeeee;
  border-color: #1d453a;
}

/* line 59, ../sass/partials/_shared-styling.scss */
a[href*="github"]:before {
  content: "github";
}

/* line 59, ../sass/partials/_shared-styling.scss */
a[href*="reddit"]:before {
  content: "reddit";
}

/* line 59, ../sass/partials/_shared-styling.scss */
a[href*="apple"]:before {
  content: "apple";
}

/* line 59, ../sass/partials/_shared-styling.scss */
a[href*="android"]:before {
  content: "android";
}

/* line 59, ../sass/partials/_shared-styling.scss */
a[href*="windows"]:before {
  content: "windows";
}

/* line 82, ../sass/partials/_shared-styling.scss */
li:nth-of-type(1) {
  background-color: #6f6b4a;
}
/* line 85, ../sass/partials/_shared-styling.scss */
li:nth-of-type(1) a {
  color: #eeeeee;
}

/* line 82, ../sass/partials/_shared-styling.scss */
li:nth-of-type(2) {
  background-color: #8c896e;
}
/* line 85, ../sass/partials/_shared-styling.scss */
li:nth-of-type(2) a {
  color: #333333;
}

/* line 82, ../sass/partials/_shared-styling.scss */
li:nth-of-type(3) {
  background-color: #a9a692;
}
/* line 85, ../sass/partials/_shared-styling.scss */
li:nth-of-type(3) a {
  color: #333333;
}

/* line 82, ../sass/partials/_shared-styling.scss */
li:nth-of-type(4) {
  background-color: #c5c4b6;
}
/* line 85, ../sass/partials/_shared-styling.scss */
li:nth-of-type(4) a {
  color: #333333;
}

/* line 82, ../sass/partials/_shared-styling.scss */
li:nth-of-type(5) {
  background-color: #e2e1da;
}
/* line 85, ../sass/partials/_shared-styling.scss */
li:nth-of-type(5) a {
  color: #333333;
}
