/* line 1, ../sass/partials/_extendables.scss */
h4, h5, h6, p {
  font-family: "Helvetica" "Arial" sans-serif;
}

/* line 5, ../sass/partials/_extendables.scss */
h1, h2, h3 {
  font-family: "Garamond" "Times New Roman" serif;
}

/* line 9, ../sass/partials/_extendables.scss */
h1 {
  color: #c0ffee;
}

/* line 13, ../sass/partials/_extendables.scss */
h2, h3, h4 {
  color: #b4d455;
}

/* line 21, ../sass/partials/_extendables.scss */
.button--primary, .button--secondary {
  border-radius: 3px;
  border: 2px outset;
}
/* line 25, ../sass/partials/_extendables.scss */
.button--primary:hover, .button--secondary:hover {
  cursor: pointer;
}
/* line 29, ../sass/partials/_extendables.scss */
.button--primary:active, .button--secondary:active {
  border-style: inset;
}

/* line 40, ../sass/style.scss */
.button--primary {
  background-color: #c0ffee;
  color: #333333;
  border-color: #90bfb2;
}

/* line 44, ../sass/style.scss */
.button--secondary {
  background-color: #b4d455;
  color: #333333;
  border-color: #879f3f;
}
