/* line 1, ../sass/partials/_extendables.scss */
h4, h5, h6, p {
  font-family: "Helvetica" "Arial" sans-serif;
}

/* line 5, ../sass/partials/_extendables.scss */
h1, h2, h3 {
  font-family: "Garamond" "Times New Roman" serif;
}

/* line 9, ../sass/partials/_extendables.scss */
h1 {
  color: #c0ffee;
}

/* line 13, ../sass/partials/_extendables.scss */
h2, h3, h4 {
  color: #b4d455;
}
