@font-face {
  font-family: 'icon';
  src: url("../fonts/icon/icon.eot");
  src: url("../fonts/icon/icon.eot?#iefix") format("embedded-opentype"), url("../fonts/icon/icon.ttf") format("truetype"), url("../fonts/icon/icon.woff") format("woff"), url("../fonts/icon/icon.svg#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
h4, h5, h6, p {
  font-family: "Helvetica" "Arial" sans-serif; }

h1, h2, h3 {
  font-family: "Garamond" "Times New Roman" serif; }

h2, h3, h4 {
  color: #b4d455; }

a {
  color: #cd529a; }

.button--primary, .button--secondary {
  border-radius: 3px;
  border: 2px outset; }
  .button--primary:hover, .button--secondary:hover {
    cursor: pointer; }
  .button--primary:active, .button--secondary:active {
    border-style: inset; }

a[href*="github"]:before, a[href*="reddit"]:before, a[href*="apple"]:before, a[href*="android"]:before, a[href*="windows"]:before {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

a[href*="github"], a[href*="reddit"], a[href*="apple"], a[href*="android"], a[href*="windows"] {
  text-decoration: none; }
  a[href*="github"]:before, a[href*="reddit"]:before, a[href*="apple"]:before, a[href*="android"]:before, a[href*="windows"]:before {
    padding-right: .5em; }

.cow--highland, .cow--milk, .cow--tonguing {
  float: left; }
  @media (min-width: 976px) {
    .cow--highland, .cow--milk, .cow--tonguing {
      -webkit-flex: 1 1 auto;
      flex: 1 1 auto; } }

h1 {
  color: #c0ffee; }
  @media (min-width: 500px) {
    h1 {
      color: #b4d455; } }
  @media (min-width: 800px) {
    h1 {
      color: #cd529a; } }

.button--primary {
  background-color: #c0ffee;
  color: #333333;
  border-color: #90bfb2; }

.button--secondary {
  background-color: #b4d455;
  color: #333333;
  border-color: #879f3f; }

a[href*="github"]:before {
  content: "github"; }

a[href*="reddit"]:before {
  content: "reddit"; }

a[href*="apple"]:before {
  content: "apple"; }

a[href*="android"]:before {
  content: "android"; }

a[href*="windows"]:before {
  content: "windows"; }

li:nth-of-type(1) {
  background-color: #d56eaa; }
  li:nth-of-type(1) a {
    color: #333333; }

li:nth-of-type(2) {
  background-color: #dd8bbb; }
  li:nth-of-type(2) a {
    color: #333333; }

li:nth-of-type(3) {
  background-color: #e6a8cc; }
  li:nth-of-type(3) a {
    color: #333333; }

li:nth-of-type(4) {
  background-color: #eec5dd; }
  li:nth-of-type(4) a {
    color: #333333; }

li:nth-of-type(5) {
  background-color: #f6e2ee; }
  li:nth-of-type(5) a {
    color: #333333; }

.cows-sprite, .cow--highland, .cow--milk, .cow--tonguing {
  background-image: url('../img/cows-sf15a179063.png');
  background-repeat: no-repeat; }

.cow--highland {
  background-position: 0 0;
  width: 320px;
  height: 240px; }

.cow--milk {
  background-position: 0 -240px;
  width: 320px;
  height: 200px; }

.cow--tonguing {
  background-position: 0 -440px;
  width: 320px;
  height: 237px; }

@media (min-width: 976px) {
  .cow--highland {
    -webkit-order: 2;
    order: 2; } }
@media (min-width: 1300px) {
  .cow--highland {
    -webkit-order: 3;
    order: 3; } }

@media (min-width: 976px) {
  .cow--milk {
    -webkit-order: 3;
    order: 3; } }
@media (min-width: 1300px) {
  .cow--milk {
    -webkit-order: 1;
    order: 1; } }

@media (min-width: 976px) {
  .cow--tonguing {
    -webkit-order: 1;
    order: 1; } }
@media (min-width: 1300px) {
  .cow--tonguing {
    -webkit-order: 2;
    order: 2; } }

@media (min-width: 976px) {
  .farm {
    display: -webkit-flex;
    -webkit-flex-direction: row;
    display: flex;
    flex-direction: row; } }

/*# sourceMappingURL=style.css.map */