$font-sans: 'Helvetica' 'Arial' sans-serif;
$font-serif: 'Garamond' 'Times New Roman' serif;

$color-primary: #c0ffee;
$color-secondary: #b4d455;
$color-tertiary: #cd529a;


h1 {
  color: $color-primary;
}