%font-sans {
  font-family: $font-sans;
}

%font-serif {
  font-family: $font-serif;
}

%color-primary {
  color: $color-primary;
}

%color-secondary {
  color: $color-secondary;
}

%color-tertiary {
  color: $color-tertiary;
}

%button {
  border-radius: 3px;
  border: 2px outset;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border-style: inset;
  }
}