%font-sans {
  font-family: $font-sans;
}

%font-serif {
  font-family: $font-serif;
}

%color-primary {
  color: $color-primary;
}

%color-secondary {
  color: $color-secondary;
}

%color-tertiary {
  color: $color-tertiary;
}

%button {
  border-radius: 3px;
  border: 2px outset;

  &:hover {
    cursor: pointer;
  }

  &:active {
    border-style: inset;
  }
}

%ligatures {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  -o-font-feature-settings: "liga";
  font-feature-settings: "liga";

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

%link-shared {
  text-decoration: none;

  &:before {
    padding-right: .5em;
  }
}

%cows {
  float: left;
  @include respond-to("first cow ordering") {
    @include flex(1 1 auto);
  }
}