%font-sans {
  font-family: $font-sans;
}

%font-serif {
  font-family: $font-serif;
}

%color-primary {
  color: $color-primary;
}

%color-secondary {
  color: $color-secondary;
}

%color-tertiary {
  color: $color-tertiary;
}