h1 {
  @extend %font-serif;

  color: $color-primary;

  @include respond-to('primary to secondary color') {
    color: $color-secondary;
  }
  @include respond-to('secondary to tertiary color') {
    color: $color-tertiary;
  }

}

h2 {
  @extend %font-serif;
  @extend %color-secondary;
}

h3 {
  @extend %font-serif;
  @extend %color-secondary;
}

h4 {
  @extend %font-sans;
  @extend %color-secondary;
}

h5 {
  @extend %font-sans;
}

h6 {
  @extend %font-sans;
}

p {
  @extend %font-sans;
}

a {
  @extend %color-tertiary;
}

.button--primary {
  @include button($color-primary);
}

.button--secondary {
  @include button($color-secondary);
}