@function shade($color, $amount: 25%) {
  @return mix(black, $color, $amount);
}

@function cs($ordinal) {
  $cs-color: $color-primary;

  @if $ordinal == 'secondary' {
    $cs-color: adjust-hue($cs-color, -88.69141);
    $cs-color: desaturate($cs-color, 40.37559%);
    $cs-color: darken($cs-color, 29.38177%);
  }
  @else if $ordinal == 'tertiary' {
    $cs-color: adjust-hue($cs-color, 161.06853);
    $cs-color: desaturate($cs-color, 44.84305%);
    $cs-color: darken($cs-color, 31.37255%);
  }
  @else {
    @warn 'You did not choose secondary or tertiary!';
  }

  @return $cs-color;
}